/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff4e9;
    --color-black: #22201f;

    // Couleurs du projet
    --color-primary: #6e86ff;
    --color-bg-dark: #3a3735;
    --color-bg-secondary: #e5e0dc;
}
