{% include '_partials/_header.html' %}

<section class="section hero">
    <div class="wrapper">
        <div class="hero__content">
            <h1>Elliot Schmit</h1>

            <p>
                Le côté
                <b>logique</b>
                de la programmation et le côté
                <b>créatif</b>
                du design.
            </p>
        </div>

        <div class="hero__media">
            <img src="assets/images/hero.png" alt="" />
        </div>
    </div>
</section>

<section class="section section-dark projets">
    <div class="wrapper">
        <h1>Mes projets</h1>

        <div class="cards">
            <a href="#" class="card">
                <div class="card__media">
                    <img src="assets/images/scouts-thumbnail.jpeg" alt="" />
                </div>
                <div class="card__content">
                    <img class="timbre" src="assets/images/timbre-1.png" alt="" />

                    <h2>Site des scouts de St-Bruno</h2>
                    <ul class="categories">
                        <li>HTML</li>
                        <li>JS</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>Design</li>
                    </ul>

                    <svg class="icon icon--lg">
                        <use href="#icon-plus"></use>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="card__media">
                    <img src="assets/images/marche-thumbnail.jpeg" alt="" />
                </div>
                <div class="card__content">
                    <img class="timbre" src="assets/images/timbre-2.png" alt="" />

                    <h2>Le marché</h2>
                    <ul class="categories">
                        <li>Modélisation 3D</li>
                    </ul>

                    <svg class="icon icon--lg">
                        <use href="#icon-plus"></use>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="card__media">
                    <img src="assets/images/boxotel-thumbnail.jpeg" alt="" />
                </div>
                <div class="card__content">
                    <img class="timbre" src="assets/images/timbre-3.png" alt="" />

                    <h2>Site du boxotel</h2>
                    <ul class="categories">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Design</li>
                    </ul>

                    <svg class="icon icon--lg">
                        <use href="#icon-plus"></use>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="card__media">
                    <img src="assets/images/aquarelle-thumbnail.jpg" alt="" />
                </div>
                <div class="card__content">
                    <img class="timbre" src="assets/images/timbre-4.png" alt="" />

                    <h2>Création aquarelle</h2>
                    <ul class="categories">
                        <li>Python</li>
                        <li>Touch designer</li>
                    </ul>

                    <svg class="icon icon--lg">
                        <use href="#icon-plus"></use>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="card__media">
                    <img src="assets/images/walkman-thumbnail.jpg" alt="" />
                </div>
                <div class="card__content">
                    <img class="timbre" src="assets/images/timbre-5.png" alt="" />

                    <h2>Site Walkman</h2>
                    <ul class="categories">
                        <li>Design</li>
                    </ul>

                    <svg class="icon icon--lg">
                        <use href="#icon-plus"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="section apropos">
    <div class="wrapper">
        <div class="apropos__media">
            <img src="assets/images/apropos.jpg" alt="" />
        </div>
        <div class="apropos__content">
            <h1>À propos</h1>
            <p>
                Le côté
                <b>logique</b>
                de la programmation et le côté
                <b>créatif</b>
                du design.
            </p>
            <p>
                Une
                <b>capacité d’adaptation</b>
                permettant de jongler entre plusieurs tâches ou projets
                <b>simultanément.</b>
            </p>
            <p>
                <b>Polyvalent,</b>
                à l’affut de nouvelles
                <b>techniques</b>
                et
                <b>technologies.</b>
            </p>

            <a href="#" class="link">
                Mon CV
                <svg class="icon icon--md">
                    <use href="#icon-external-link"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="section presentation">
    <div class="wrapper">
        <h1>Vidéo de présentation</h1>
        <div class="video" data-component="YouTube" data-video-id="Em124IdaC-M">
            <div class="video__media js-video">
                <img class="js-poster" src="assets/images/presentation.jpg" alt="Vidéo de présentation" />

                <svg class="icon icon--xl">
                    <use href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
    <img class="film" src="assets/images/film.jpg" alt="" />
</section>

<section class="section section-dark competences">
    <div class="wrapper">
        <h1>Mes compétences</h1>

        <div class="cards">
            <div class="card">
                <h2>Hard skills</h2>
                <ul>
                    <li>Développement web</li>
                    <li>Programmation nodale</li>
                    <li>Design UI/UX</li>
                    <li>Programmation en diverses langues</li>
                    <li>Créations artisiques</li>
                </ul>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <h2>Langages</h2>
                <ul>
                    <li><img src="assets/images/css.png" alt="Css" /></li>
                    <li><img src="assets/images/html.png" alt="Html" /></li>
                    <li><img src="assets/images/js.png" alt="Js" /></li>
                    <li><img src="assets/images/php.png" alt="Php" /></li>
                    <li><img src="assets/images/python.png" alt="Python" /></li>
                </ul>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <h2>Langages</h2>
                <ul>
                    <li><img src="assets/images/blender.png" alt="Blender" /></li>
                    <li><img src="assets/images/figma.png" alt="Figma" /></li>
                    <li><img src="assets/images/touchdesigner.png" alt="Touch Designer" /></li>
                    <li><img src="assets/images/photoshop.png" alt="Photoshop" /></li>
                    <li><img src="assets/images/illustrator.png" alt="Illustrator" /></li>
                    <li><img src="assets/images/aftereffects.png" alt="After effects" /></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <h2>Soft skills</h2>
            <ul>
                <li>À l'écoute</li>
                <li>Leadership</li>
                <li>Motivé</li>
                <li>Patient</li>
                <li>Aime apprendre</li>
            </ul>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
